# Data Structures and Sequences
## Tuple

In [36]:
tup = (3,4,6)
tup

(3, 4, 6)

In [37]:
tup  = 4,5, 6

In [38]:
tup

(4, 5, 6)

In [39]:
tuple([1,2,3])

(1, 2, 3)

In [40]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [41]:
tup[-1]

'g'

In [42]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [43]:
nested_tup[0], nested_tup[1]

((4, 5, 6), (7, 8))

In [44]:
tup = tuple(['foo', [1,2], True])
tup

('foo', [1, 2], True)

In [45]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [ ]:
('foo', 2, 0) + (1,2)

('foo', 2, 0, 1, 2)

In [ ]:
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

Unpacking tuples

In [ ]:
tup = (4,5,6)
a, b, c = tup

In [ ]:
print(a)
print(b)
print(c)

4
5
6

swap

In [ ]:
a,b = 1, 2
a, b

(1, 2)

In [ ]:
b, a = a, b
b, a

(1, 2)

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f"a:{a}, b:{b}, c:{c}")

a:1, b:2, c:3
a:4, b:5, c:6
a:7, b:8, c:9

To "pluck" a few elements from the beginning of a tuple. There is a special syntax that can do this, *rest.

In [ ]:
values = 1, 2, 3, 4, 5, 6
a, b, *rest = values

In [ ]:
print(a)
print(b)
print(rest)

1
2
[3, 4, 5, 6]

In [ ]:
a, *_ = values
a

1

In [ ]:
_

[2, 3, 4, 5, 6]

In [ ]:
# Count Method
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## List

In [47]:
a_list = [2, 3, 4, 5]

In [49]:
tup = ('foo', 'bar', 'zpa')
b_list = list(tup)
b_list

['foo', 'bar', 'zpa']

In [50]:
b_list[1] = 'picaboo'
b_list

['foo', 'picaboo', 'zpa']

In [51]:
gen = range(10)

In [52]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Adding and removing elements

In [56]:
b_list.append("dwarf")

In [57]:
b_list

['foo', 'picaboo', 'zpa', 'dwarf']

In [58]:
#insert 
b_list.insert(1, 'hello')

insert is computationally expensive compared with append, because references to subsequent elements have to be shifted internally to make room for the new element.

In [59]:
b_list

['foo', 'hello', 'picaboo', 'zpa', 'dwarf']

In [60]:
# pop
b_list.pop(2)
b_list

['foo', 'hello', 'zpa', 'dwarf']

In [61]:
#remove
b_list.remove("hello")
b_list

['foo', 'zpa', 'dwarf']

In [62]:
"dwarf" in b_list

True

In [63]:
"dwarf" not in b_list

False

Concatenating and combining lists

In [64]:
[1, 2,3] + ['str', 'foo', (10, 'dd')]

[1, 2, 3, 'str', 'foo', (10, 'dd')]

In [66]:
x = [4, None, "foo"]
x.extend([2, 49, 1])
x

[4, None, 'foo', 2, 49, 1]

In [73]:
y = [1, 3, 4, 5]
for item in x:
    y.append(item)
y

[1, 3, 4, 5, 4, None, 'foo', 2, 49, 1]

In [76]:
everything = []
for chunk in [[1,2,3], ['a', 's']]:
    everything.extend(chunk)
everything

[1, 2, 3, 'a', 's']

Sorting

In [77]:
a = [7, 2, 5, 1, 3]
a.sort()

In [78]:
a

[1, 2, 3, 5, 7]

In [79]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

Slicing

In [80]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [82]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [83]:
seq[-4:]

[3, 6, 0, 1]

In [84]:
seq[-6: -2]

[3, 6, 3, 6]

step can also be used after a second colon to, say, take every other element:

In [90]:
seq[::2], seq[::3]

([7, 3, 3, 0], [7, 6, 0])

In [92]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [93]:
# Reversing a list
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

## Dictionary

In [95]:
empty_dict = {}
d1 = {"a": "some value", "b": [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [97]:
d1[7] = 'an integer'

In [98]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [101]:
d1.keys(), d1.values()

(dict_keys(['a', 'b', 7]),
 dict_values(['some value', [1, 2, 3, 4], 'an integer']))

In [102]:
d1['b']

[1, 2, 3, 4]

In [103]:
'b' in d1

True

In [104]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [105]:
d1['dummy'] = 'another value'

In [106]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [107]:
del d1[5]

In [108]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [109]:
ret = d1.pop('dummy')

In [110]:
ret

'another value'

In [111]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

keys and values

In [114]:
print(list(d1.keys())), 
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

In [117]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

update method

In [118]:
d1.update({
    'b': 'foo',
    'c': 12
})

In [119]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

Creating dictionaries from sequences

In [124]:
mapping = {}
for key, value in zip(['john', 'ron', 'truck'], [23, 23, 30]):
    mapping[key] = value
mapping

{'john': 23, 'ron': 23, 'truck': 30}

In [123]:
list(zip(['john', 'ron', 'truck'], [23, 23, 30]))

[('john', 23), ('ron', 23), ('truck', 30)]

In [130]:
# Lists to be combined
names = ['Alice', 'Bob', 'Charlie']
ages = [30, 25, 28]
occupations = ['Engineer', 'Doctor', 'Artist']

combined_data = zip(names, ages, occupations)

In [131]:
combined_list = list(combined_data)
combined_list

[('Alice', 30, 'Engineer'), ('Bob', 25, 'Doctor'), ('Charlie', 28, 'Artist')]

In [133]:
employee = {}
for name, age, occupation in combined_list:
    employee[name] = [age, occupation]
employee

{'Alice': [30, 'Engineer'], 'Bob': [25, 'Doctor'], 'Charlie': [28, 'Artist']}

In [134]:
employee['Alice']

[30, 'Engineer']

In [137]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [138]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Default Values

In [141]:
# Logic 
fruit_prices = {
    'apple': 0.99,
    'banana': 0.79,
    'orange': 0.69
}

default_value = 1.21

key = 'grape'

if key in fruit_prices:
    value = fruit_prices[key]
else:
    value = default_value

print(default_value)

1.21

In [144]:
fruit_prices.get('grape', default_value)

1.21

In [145]:
fruit_prices.get('apple', default_value)

0.99

In [146]:
fruit_prices.get('grape')

For example, you could imagine categorizing a list of words by their first letters as a dictionary of lists:

In [151]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The "setdefault" dictionary method can be used to simplify this workflow. The preceding for loop can be rewritten as:

In [153]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [154]:
from collections import defaultdict

In [156]:
by_letter = defaultdict(list)
by_letter

defaultdict(list, {})

In [157]:
for word in words:
    by_letter[word[0]].append(word)
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [159]:
hash('string')

-6070620087089377276

In [164]:
by_letter[1]

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 1: []})

Valid dictionary key types

In [165]:
hash('strings')

-940427807179664223

In [167]:
hash(21)

21

In [168]:
hash((2,3))

8409376899596376432

In [169]:
hash([1,2,3])

TypeError: unhashable type: 'list'

## Set

In [170]:
set([1,2,3,3,2,4,5,5])

{1, 2, 3, 4, 5}

In [171]:
a = {1, 2, 3, 4, 5}
b = {3,4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [172]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [173]:
a.intersection(b)

{3, 4, 5}

In [174]:
a.issubset(b)

False

In [175]:
a.difference(b)

{1, 2}

In [176]:
a.symmetric_difference(b)

{1, 2, 6, 7}

In [177]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [178]:
c.update(b)
c

{1, 2, 3, 4, 5, 6, 7}

In [179]:
a_set = {1, 2, 3, 4, 5}
{1,2,3}.issubset(a_set)

True

In [180]:
a_set.issuperset({1,2,3,4})

True

## Built-In Sequence Function
### Enumerate

In [186]:
# one way
student_list = ['Ram', 'Vishnu', 'Shiva', 'Raj', 'Ronal']
for student in student_list:
    print(student_list.index(student), student)

0 Ram
1 Vishnu
2 Shiva
3 Raj
4 Ronal

In [187]:
# Another way
index = 0
for student in student_list:
    print(index, student)
    index+=1

0 Ram
1 Vishnu
2 Shiva
3 Raj
4 Ronal

In [189]:
# Using enumerate 
for index, student in enumerate(student_list):
    print(index, student)

0 Ram
1 Vishnu
2 Shiva
3 Raj
4 Ronal

### sorted

In [190]:
sorted([3, 4, 1, 23, 29, 19, 1, 100, 70])

[1, 1, 3, 4, 19, 23, 29, 70, 100]

In [192]:
sorted('python rocks')

[' ', 'c', 'h', 'k', 'n', 'o', 'o', 'p', 'r', 's', 't', 'y']

### zip

In [193]:
seq1 = ['foof', 'poop', 'doop']
seq2 = ['dop', 'shop', 'lope']
zipped = zip(seq1, seq2)
list(zipped)

[('foof', 'dop'), ('poop', 'shop'), ('doop', 'lope')]

In [195]:
seq3 = ['Hof', 'duff']
list(zip(seq1, seq2, seq3))

[('foof', 'dop', 'Hof'), ('poop', 'shop', 'duff')]

In [197]:
seq1, seq2

(['foof', 'poop', 'doop'], ['dop', 'shop', 'lope'])

In [201]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(index, a , b)

0 foof dop
1 poop shop
2 doop lope

reversed

In [202]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List , Set and Dictinary Comprehensions
### List Comprehension
[expr for value in collection if condition]

In [210]:
my_list = []
for item in seq1:
    if isinstance(item, str):
        my_list.append(item)
my_list

['foof', 'poop', 'doop']

In [208]:
[item for item in seq1 if isinstance(item , str)]

['foof', 'poop', 'doop']

In [213]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[string.upper() for string in strings if len(string) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

### Dictionary Comprehension
dict_comp = {key-expr: value-expr for value in collection
             if condition}

In [214]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [216]:
location_mapping = {value: index for index, value in enumerate(strings)}
location_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### Set Comprehension

In [219]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [218]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [220]:
set(map(len, strings))

{1, 2, 3, 4, 6}

## Nested list comprehensions

In [221]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [226]:
# Getting a list of name containing at least 2 a's
for list_ in all_data:
    name_of_interest = [name for name in list_ if name.count('a')>=2]
    
name_of_interest

['Maria', 'Natalia']

wrapping this whole operation up in a single nested list comprehension

In [228]:
[name for list_ in all_data for name in list_ if name.count('a') >= 2]

['Maria', 'Natalia']

In [245]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = []
for item in some_tuples:
    flat_tuple = [num for num in item ]
    flattened.extend(flat_tuple)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [246]:
flattened = [num for item in some_tuples for num in item]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Functions

In [247]:
def add(x, y): 
    return x+y

In [249]:
result = add(2, 3)
result

5

In [250]:
def function_without_return(x):
    print(x)

In [252]:
function_without_return("Hello") # retuen None

Hello

Each function can have positional arguments and keyword arguments. Keyword arguments are most commonly used to specify default values or optional arguments. Here we will define a function with an optional z argument with the default value 1.5:

In [258]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else: return z / (x+y)

In [257]:
my_function(2, 4)

12

In [259]:
my_function(2, 4, 1)

0.16666666666666666

## Namespaces, Scope, and Local Functions

In [260]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [261]:
a

[]

In [262]:
func()

In [263]:
a

[0, 1, 2, 3, 4]

In [264]:
func()

In [266]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [267]:
a = None 
def bind_a_variable():
    global a
    a = []
a

In [271]:
bind_a_variable()
a

[]

In [269]:
a = [1]

In [270]:
a

[1]

### Returning Multiple Variables

In [272]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [274]:
a , b, c  = f()

In [275]:
a, b, c

(5, 6, 7)

What’s happening here is that the function is actually just returning one object, a tuple, which is then being unpacked into the result variables. In the preceding example, we could have done this instead:

In [276]:
result = f()

In [277]:
result

(5, 6, 7)

In [278]:
def f(a, b, c):
    return {'a': a, 'b': b, 'c': c}

In [2]:
f(1,2,3 )

NameError: name 'f' is not defined

### Functions Are Objects

In [3]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [4]:
states

['   Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina##',
 'West virginia?']

In [5]:
import re

In [11]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [12]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [21]:
# An alternative aproachb
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

func_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [22]:
clean_strings(states, func_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

You can use functions as arguments to other functions like the built-in map function, which applies a function to a sequence of some kind:

In [23]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Ananymous (Lambda) Functions

In [25]:
def double(x):
    return x *2
double(4)

8

In [29]:
double_lambda = lambda x: x * 2
double_lambda(4)

8

In [30]:
add = lambda a, b: a + b
add(4, 5)

9

In [31]:
numbers = [ 1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x : x**2 , numbers))
squared_numbers

[1, 4, 9, 16, 25]

Using lambda with filter to get even numbers from a list:

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [2]:
# data transformation functions
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [3]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x**2)

[16, 0, 1, 25, 36]

As another example, suppose you wanted to sort a collection of strings by the number of distinct letters in each string:

In [39]:
strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key= lambda x : len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generators

In Python, a generator is a special type of function that uses the yield keyword to produce values one at a time, just like baking cupcakes when you need them.

In [57]:
def count_numbers():
    num = 1
    while True:
        yield num
        num += 1

In [58]:
number_generator = count_numbers()
print(next(number_generator))
print(next(number_generator))
print(next(number_generator))
print(next(number_generator))
print(next(number_generator))

1
2
3
4
5

In [59]:
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a+b

In [61]:
fibonacci_generator = fibonacci()
print(next(fibonacci_generator))  # Output: 0
print(next(fibonacci_generator))  # Output: 1
print(next(fibonacci_generator))  # Output: 1
print(next(fibonacci_generator))  # Output: 2

0
1
1
2

In [66]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [67]:
dict_iterator = iter(some_dict)
dict_iterator

In [68]:
list(dict_iterator)

['a', 'b', 'c']

In [69]:
def squares(n=10):
    print(f"Generating squares from 1 to {n**2}")
    for i in range(1, n+1):
        yield i**2

In [71]:
list(squares())

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
for x in squares():
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

Generator Expression

In [81]:
gen = (x ** 2 for x in range(11))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
4
9
16

Here's an example to demonstrate the memory efficiency of generators compared to lists:

In [91]:
def count_numbers_generator(): # generate functions
    num = 1
    while True:
        yield num
        num += 1

def count_numbers_list():
    num = 1
    numbers = []
    for _ in range(1000):
        numbers.append(num)
        num += 1
    return numbers

In [92]:
# Memory usage comparison
import sys

generator_obj = count_numbers_generator()
print(sys.getsizeof(generator_obj))  # Size of the generator object

number_list = count_numbers_list()
print(sys.getsizeof(number_list))  # Size of the list object

112
9016

In this example, you'll notice that the size of the generator object is significantly smaller than the list object. This illustrates the memory efficiency of generators, especially when dealing with large datasets or sequences.

Generators are a powerful and essential concept in Python, providing elegant solutions to various programming challenges while optimizing memory usage and computation time.

### itertools module

In [31]:
import itertools

In [32]:
def first_letter(x):
    return x[0]

In [62]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
grouped_names = itertools.groupby(names, key=first_letter)
grouped_names
for letter, names in grouped_names:
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [52]:
for letter, names in itertools.groupby(names, key=first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [65]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

In [66]:
combined_list = []
for list in [list1, list2, list3]:
    for item in list:
        combined_list.append(item)
combined_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

The chain() function takes multiple iterables as arguments and returns an iterator that yields the elements from each iterable, one after the other, in the order they are provided.

In [68]:
from itertools import chain

In [69]:
combined_iterator = chain (list1, list2, list3)
for item in combined_iterator:
    print(item)

1
2
3
4
5
6
7
8
9

In this example, the chain() function is used to create an iterator that iterates through the elements of list1, list2, and list3 as if they were all concatenated together. 
The benefit of using itertools.chain() is that it doesn't create a new combined list in memory. Instead, it produces the elements on-the-fly, which can be useful when working with large datasets or when you want to avoid memory overhead.

#### combinations

In [70]:
from itertools import combinations

In [78]:
comb_iterator = combinations([1, 2, 3, 4, 5], 2)
for combination in comb_iterator:
    print(combination)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 3)
(2, 4)
(2, 5)
(3, 4)
(3, 5)
(4, 5)

In this example, the combinations() function is used to create an iterator that generates all possible combinations of length 2 from the numbers list.

#### Permutation

In [80]:
from itertools import permutations

In [83]:
for permutation in permutations(['a', 'b', 'c'], 3):
    print(permutation)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

It's important to note that permutations() produces permutations while considering the order of elements. So, ('a', 'b', 'c') and ('b', 'a', 'c') are considered distinct permutations because the order matters.

#### product

In [84]:
from itertools import product

The product() function is used to generate the Cartesian product of multiple iterables, which represents all possible combinations of elements taken one from each iterable.

In [85]:
colors = ['red', 'green', 'blue']
sizes = ['small', 'medium', 'large']

In [91]:
for item in product(colors, sizes, repeat=1):
    print(item)

('red', 'small')
('red', 'medium')
('red', 'large')
('green', 'small')
('green', 'medium')
('green', 'large')
('blue', 'small')
('blue', 'medium')
('blue', 'large')

In [92]:
for i in product([1, 2, 3], repeat=2):
    print(i)

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

## Errors and Exception Handling

In [93]:
float(3.24)

3.24

In [94]:
float("hello")

ValueError: could not convert string to float: 'hello'

In [96]:
def attempt_float(x):
    try: 
        return float(x)
    except:
        return x

In [98]:
attempt_float(1.234)

1.234

In [99]:
attempt_float("hello")

'hello'

In [100]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [103]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [104]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [105]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

In [107]:
attempt_float((1, 2))

(1, 2)

## Files and the Operating System

In [108]:
f = open("segismundo.txt", encoding= "utf-8")

In [109]:
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [110]:
lines = [x.rstrip() for x in open("segismundo.txt", encoding= "utf-8")]

In [111]:
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [112]:
f.close()

In [114]:
with open('segismundo.txt', encoding='utf-8') as f:
    lines = [x.rstrip() for x in f]

In [115]:
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [127]:
f1 = open('segismundo.txt')
f1.read(10)

'Sueña el r'

In [128]:
f2 = open('segismundo.txt', mode='rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [129]:
with open('segismundo.txt', encoding='utf-8') as f:
    contents = f.read()
    print(contents)

Sueña el rico en su riqueza,
que más cuidados le ofrece;

sueña el pobre que padece
su miseria y su pobreza;

sueña el que a medrar empieza,
sueña el que afana y pretende,
sueña el que agravia y ofende,

y en el mundo, en conclusión,
todos sueñan lo que son,
aunque ninguno lo entiende.

In [131]:
with open("segismundo.txt", "r", encoding="utf-8") as file:
    content = file.read(10)  # Read the first 10 characters
    print(content)

Sueña el r

In [132]:
# Reading bytes from a binary file
with open("segismundo.txt", "rb") as file:
    data = file.read(5)  # Read the first 5 bytes (characters) in binary
    print(data)

b'Sue\xc3\xb1'

In [135]:
f1.tell()

11

In [136]:
f2.tell()

10

In [137]:
import sys
sys.getdefaultencoding()

'utf-8'

seek changes the file position to the indicated byte in the file:

In [138]:
f1.seek(3)

3

In [140]:
f1.read(1)

''

In [141]:
f1.tell()

296

In [142]:
f1.close()
f2.close()

In [143]:
path = 'segismundo.txt'
with open("tmp.txt", mode='w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [152]:
with open("tmp.txt") as f:
    lines = f.readlines()

In [153]:
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

### example: Secret Notes

In [154]:
with open('spy_notes.txt', 'a') as file:
    new_clues = [
        "🔍 Clue 1: Follow the red brick road.\n",
        "🦉 Clue 2: Look for the owl statue.\n",
        "🗝️ Clue 3: The key is hidden in the library.\n"
    ]
    file.writelines(new_clues)

In [155]:
with open('spy_notes.txt', 'a') as file:
    new_note = "🕵️‍♂️ New clue: The treasure is buried under the big tree!\n"
    file.write(new_note)

In [156]:
# Reading notes from the spy notebook
with open("spy_notes.txt", "r") as file:
    your_notes = file.read()  # You read the whole page!
    print("Your Secret Notes:\n", your_notes)

Your Secret Notes:
 🔍 Clue 1: Follow the red brick road.
🦉 Clue 2: Look for the owl statue.
🗝️ Clue 3: The key is hidden in the library.
🕵️‍♂️ New clue: The treasure is buried under the big tree!

In [168]:
# Reading notes from the spy notebook
with open("spy_notes.txt", "r") as file:
    your_notes = file.readlines()  # You read the whole page!
    print("Your Secret Notes:\n", your_notes)

Your Secret Notes:
 ['🔍 Clue 1: Follow the red brick road.\n', '🦉 Clue 2: Look for the owl statue.\n', '🗝️ Clue 3: The key is hidden in the library.\n', '🕵️\u200d♂️ New clue: The treasure is buried under the big tree!\n']

In [171]:
with open("spy_notes.txt", "rb") as file:
    your_notes = file.read()
    print(your_notes)

b'\xf0\x9f\x94\x8d Clue 1: Follow the red brick road.\r\n\xf0\x9f\xa6\x89 Clue 2: Look for the owl statue.\r\n\xf0\x9f\x97\x9d\xef\xb8\x8f Clue 3: The key is hidden in the library.\r\n\xf0\x9f\x95\xb5\xef\xb8\x8f\xe2\x80\x8d\xe2\x99\x82\xef\xb8\x8f New clue: The treasure is buried under the big tree!\r\n'