In [2]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

In [3]:
import os

In [4]:
os.getcwd()

'c:\\Users\\vikas\\Desktop\\Python for data Analysis'

In [5]:
! cd

c:\Users\vikas\Desktop\Python for data Analysis

In [6]:
! dir

 Volume in drive C is Windows
 Volume Serial Number is 880C-EE44

 Directory of c:\Users\vikas\Desktop\Python for data Analysis

04-08-2023  21:25    <DIR>          .
04-08-2023  17:21    <DIR>          ..
05-08-2023  00:06            21,954 python_basics.ipynb
04-08-2023  17:23                22 test.ipynb
04-08-2023  21:30                75 test_module.py
04-08-2023  18:55            13,929 un.ipynb
04-08-2023  21:25    <DIR>          __pycache__
               4 File(s)         35,980 bytes
               3 Dir(s)  100,356,366,336 bytes free

In [7]:
data = [np.random.standard_normal() for i in range(7)]
data

[-0.12233992879934895,
 1.6832601771291271,
 1.531895818712182,
 1.0835075701534413,
 -0.001284862791327779,
 -0.9511602984793893,
 1.0181401673596968]

In [8]:
%pwd

'c:\\Users\\vikas\\Desktop\\Python for data Analysis'

In [9]:
b = [1, 2, 3]

In [10]:
len(b)

3

In [11]:
import datetime

In [12]:
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [13]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [14]:
def add_numbers(a, b):
    """Add two numbers together

    Args:
        a (_type_): int
        b (_type_): int
        
    Returns
    -----
    the_sum: type of arguments
    """
    return a+b

In [15]:
add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Args:
    a (_type_): int
    b (_type_): int

Returns
-----
the_sum: type of arguments
File:      c:\users\vikas\desktop\python for data analysis\<ipython-input-14-f5624f28fff8>
Type:      function

In [16]:
np.*load*?

np.__loader__
np.load
np.loads
np.loadtxt

## Duck typing

In [17]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [18]:
isiterable('Vikas')

True

In [19]:
isiterable([2, 4, 5,3])

True

In [20]:
isiterable(5)

False

## Imports
a module is simply a file with .py extension

In [21]:
import test_module as module

In [23]:
module.PI

3.14159

In [24]:
module.f(2)

4

In [25]:
module.g(4,5)

9

In [28]:
from test_module import g, PI

In [29]:
g(5, PI)

8.14159

## Strings

In [30]:
c = """
This is a longer string that
spans multiple lines
"""

In [31]:
c.count('\n')

3

In [32]:
# string are immutable
a = "vikas"
a[1] = 'a'

TypeError: 'str' object does not support item assignment

In [33]:
#.replace
b = a.replace("vi", "aa")
b

'aakas'

In [34]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [35]:
s[:3]

'pyt'

In [36]:
s = r'123\\4'
print(s)

123\\4

In [37]:
s = "this\has\no\special\characters"
s

'this\\has\no\\special\\characters'

In [38]:
s = r"\n"
s

'\\n'

In [39]:
# Formating
template = "{0:.2f} {1:s} are worth US${2:d}"

In [40]:
template.format(34.45, "Rupees", 1)

'34.45 Rupees are worth US$1'

In [41]:
#f-strings
amount = 10
currency = "Rupee"
rate = 71.23
result = f"{amount}$ in indian currency is {amount* rate: .2f} {currency}"
print(result)

10$ in indian currency is  712.30 Rupee

## Bytes and Unicode

In [42]:
unicode_string = "Hello, नमस्ते"
print(unicode_string)

Hello, नमस्ते

In [43]:
val_utf = unicode_string.encode("utf-8")
val_utf

b'Hello, \xe0\xa4\xa8\xe0\xa4\xae\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa5\x87'

In [44]:
type(val_utf)

bytes

In [45]:
val_utf.decode("utf-8")

'Hello, नमस्ते'

## Booleans

In [46]:
True and True

True

In [47]:
False and True

False

In [48]:
int(False)

0

In [49]:
int(True)

1

In [50]:
not True

False

## Type casting

In [51]:
s = "3.14159"
fval = float(s)
fval

3.14159

In [52]:
int(fval)

3

In [53]:
bool(fval)

True

In [54]:
bool(0)

False

In [55]:
# None is null value type
a = None

In [56]:
a is None

True

In [57]:
b = 4
b is not None

True

In [58]:
# None is also a common default value for function arguments:
def add_and_maybe_multiply(a, b, c=None):
    result = a+b
    if c is not None:
        result = result*c
    return result

In [59]:
add_and_maybe_multiply(2,3, 10)

50

## Dates and Times

In [60]:
from datetime import datetime, date, time

In [68]:
dt = datetime(2023, 8, 5, 12, 10, 30)

In [69]:
dt.day, dt.year, dt.minute

(5, 2023, 10)

In [70]:
dt.date()

datetime.date(2023, 8, 5)

In [71]:
dt.time()

datetime.time(12, 10, 30)

In [75]:
dt.strftime("%y-%m-%d %H:%M")

'23-08-05 12:10'

In [76]:
dt_hour = dt.replace(minute=19, second=20)
dt_hour

datetime.datetime(2023, 8, 5, 12, 19, 20)

In [77]:
dt

datetime.datetime(2023, 8, 5, 12, 10, 30)

In [82]:
dt2 = datetime(2023, 11, 3, 23, 3)
delta = dt2-dt
delta

datetime.timedelta(days=90, seconds=39150)

In [80]:
type(delta)

datetime.timedelta

In [83]:
dt

datetime.datetime(2023, 8, 5, 12, 10, 30)

In [84]:
dt + delta

datetime.datetime(2023, 11, 3, 23, 3)

# Control flow

## if , elif, and else

In [89]:
a = 2

if a < 0:
    print("Negative")
elif a == 0:
    print("It is equal to zero")
elif 0 < a < 5:
    print('Positive but less than 5')
else:
    print('Positive and greater than 5')

Positive but less than 5

## for loops

In [93]:
sequence = [1, 3, 4, None, 4, None, 1]
sum = 0
for value in sequence:
    if value is None:
        continue # continue is used to go to next iteration without moving forward in the loop
    sum += value
print(sum)

13

In [94]:
# Break
#A for loop can be exited altogether with the break keyword. This code sums elements of the list until a 5 is reached:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_till_5 = 0
for val in sequence:
    if val == 5:
        break
    total_till_5 += val 
total_till_5

13

In [96]:
#The break keyword only terminates the innermost for loop; any outer for loops will continue to run:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j ))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [97]:
# List of tuples containing employee information (name, age)
employees = [("Alice", 30), ("Bob", 25), ("Charlie", 40)]

# Using unpacking in a for loop to extract name and age
for name, age in employees:
    print(f"{name} is {age} years old.")

Alice is 30 years old.
Bob is 25 years old.
Charlie is 40 years old.

## While loops

In [109]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x//2
    print(x)
total

128
64
32
16
8
4

504

### Pass
pass is the “no-op” (or "do nothing") statement in Python.

In [113]:
x = 0
if x < 0:
    print('negative')
elif x ==0:
    pass
else:
    print('positive')

# Range
The range function generates a sequence of evenly spaced integers:

In [114]:
range(20)

range(0, 20)

In [115]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [117]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [118]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [119]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i} : {seq[i]}")

element 0 : 1
element 1 : 2
element 2 : 3
element 3 : 4